 <!-- Start Company Info -->
 <div class="info-company d-flex justify-content-between">
    <div class="contact">
        <h4>{{ arName }}</h4>
        <h6>{{ engName }}</h6>
        <h6>العنوان : {{ address }}</h6>
        <h6>التليفون : {{ phoneNumber }}</h6>
    </div>
    <div class="tax-number">
        <h6>رقم الملف الضريبي : {{ taxFileNumber }}</h6>
        <h6>رقم التسجيل الضريبي : {{ taxRegistrationNumber }}</h6>
        <h6>البطاقه الضريبيه : {{ tax3Number }}</h6>
    </div>
</div>
<!-- End Company Info -->